<video class="vid" autoplay muted loop id="myVideo">
  <source src="./assets/media/citywalk.mp4" type="video/mp4">
</video>

</div>

<!-- form -->
<body >
  <form class="form-signin">
    <div class="text-center">
    <img class="mb-3" src="./assets/img/logo.png" alt="" width="140" height="92">
    </div>
    <hr class="bg-secondary" style="margin: 0px 30px 20px; ">
    <p>Please sign In</p>
    <label for="inputEmail" class="sr-only" id="email1">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only" id="password1">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class=" btn btn-outline-secondary  btn-lg btn-primary btn-block" id="sign" type="submit" onclick="validate()">Sign in</button>
    <br>
    <div>
      <a href="#" data-toggle="modal" data-target="#myModal" class="create p-1"> Create Account</a>
      <span>|</span>
      <a href="#" class="create p-1">Forgot Password?</a>
    </div>
  </form>
</body>

<script>

  // var database = require('app.js')

 var attempt = 3; // Variable to count number of attempts.
// Below function Executes on click of login button.
function validate() {
    var email = document.getElementById("inputEmail").value;
    var password = document.getElementById("inputPassword").value;
         // Redirecting to other page.
         window.location.href = "/index";    
}
</script>



