/* Login======================================================================================================== */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
footer {
  margin: 0;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.form-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -240px 0 0 -170px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

/* Create new Account link */
a.create {
  color: whitesmoke;
}
a.create:hover {
  color: #b9a2d3;
  text-decoration: none;
}

/* Sign In Button */
#sign {
  background:#91c5a4;
  color: white;
  opacity:1;
}

#sign:hover
{
  opacity:0.9;
}

/* MAIN NAVIBARR====================================================================================================================== */

/* Navibar links */
a.nav-link {
  margin: 0px 25px;
  padding: 5px 10px;
  font-size: 13px;
}

/* Calendar ===================================================================================================================== */

.datepicker {
  width: 305px;
  height: 22  0px;
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.2), 0 15px 12px rgba(0,0,0,0.2);
  margin: 0px auto;
  overflow: hidden;
}

.datepicker .ui-datepicker-inline {
  padding: 0px;
}

/* Calendar header */
.datepicker .ui-datepicker-header {
  text-align: center;
  font-size: 1.2em;
  padding: .3em;
  letter-spacing: .1em;
  margin:1px, 0px;
  background-color: #333;
  color: #ddd;
}
/* header month arrows */
.datepicker .ui-datepicker-header .ui-datepicker-prev,
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: left;
  cursor: pointer;
  font-size: 1.1em;
  padding: 0 30px;
  margin-top: -4px;
  color: #ddd;
  transition: .6s;
}
.datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
  transform: translateX(-20px)
}
.datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  transform: translateX(20px)
}
.datepicker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

/* sunday - saturday */
.datepicker .ui-datepicker-calendar thead {
  color: #333;
  font-size: 0.9em;
}
.datepicker .ui-datepicker-calendar tr th,
.datepicker .ui-datepicker-calendar tr {
  padding-bottom: .4em;
}
.datepicker .ui-datepicker-calendar a {
  color: #333;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.8em;
}

.datepicker .ui-datepicker-calendar .ui-state-highlight {
  background: #333;
  color: #fff;
}
/* =========================================================================== */

/* Accounts PAGE ===================================================================================================================== */

/* Vertical tab */
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: auto;
}

/* BILLS PAGE ===================================================================================================================== */

button.btn{
  color: #333;
  font-weight: bold;
}

button.btn:hover {
  text-decoration: none;
  color: rgb(224, 206, 121);
}


html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


/* PROFILE PAGE ===================================================================================================================== */
/* img{
  width:180px;
  height:180px;
  object-fit:cover;
}
input[type=file]{
padding:10px;
background:#2d2d2d;}

.imgDiv {
    position: relative;
} */